nav .change {
  margin-bottom: 0;
}

.intro-slide {
  background: #69D2E7;
  height: 700px;
  text-align: center;
  width: 100%;
}

.education-slide {
  background-color: #A7DBD8;
  height: 500px;
  width: 100%;

}

.intro-slide-form {
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
}

.logo {
  margin: 0;
  padding: 0;
}

.welcome-screen {
  text-align: center;
}

.checklist {
  margin: auto;
  width: 500px;
  text-align: left;
}

.checklist li {
  list-style-type: none;
}

#map {
  margin: auto;
}

.status {
  background: red;
  border: 1px solid red;
  border-radius: 40px;
  color: white;
  margin: 10px;
  text-align: center;
}

.tutorials {
  text-align: center;
  margin: 0 auto;
}
