
.intro-slide {
  margin: 0 auto;
  margin-top: 200px;
  width: 400px;
}



.welcome-screen {
  text-align: center;
}

.checklist {
  margin: auto;
  width: 500px;
  text-align: left;
}

.checklist li {
  list-style-type: none;
}
